html, body {
  margin: 0;
  height: 100%;
  background: #eee;
}

.active{
  border-bottom: 4px solid #84bd00;
  padding-bottom: 4px;
}

.central{
  height: 100%;
  overflow-y: scroll;
}

.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation{
  text-align: center;
  color: white;
  background: #1c1c1f;
  height: 100%;
}

.navigation a{
  color: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover{
  color: white;
}

.navigation .glyphicon{
  font-size: 25px;
  display: block;
  width: 100%;
}

#user_logged{
  background: #1c1c1f;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #444;
  width: 75%;
}

#user_logged .user-image{
  background: #eee;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  margin: 15px auto 0;
  overflow: hidden;
}

#user_logged .user-image img{
  width: 50px;
  height: 50px;
}

.btn-logout{
  cursor: pointer;
}

.artistImage img{
  width: 150px;
}

.artists-list{
  padding: 0;
  margin: 30px 0 0;
  list-style: none;
}

.artistItem{
  padding: 0 !important;
  height: 317px;
  border: 1px solid #444;
  margin: 0 20px;
}

.artistItem .artistImage{
  height: 245px;
  width: 100%;
  overflow: hidden;
}

.artistItem .artistImage img{
  width: 100%;
  min-height: 100%;
}

.artistItem .artistName{
  color: white;
  padding: 10px;
  background: #222326;
}

.artistItem .artistName a{
  color: white;
}

#artist-head-card .artist{
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

#artist-head-card .artist img{
  height: 130px;
}
